body {
  margin: 0;
  background-image: url("imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  min-height: 100vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
h2 {
  text-align: center;
  font-weight: bold;
}
.input-area {
  text-align: center;
}
.input-box {
  width: 300px;
}
.task-area {
  border: 1px solid lightgray;
  margin-top: 20px;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.task-tabs div {
  padding: 1em;
  cursor: pointer;
}
.task {
  display: flex;
  justify-content: space-between;
}
.task div {
  padding: 1em;
}
#under-line {
  width: 60px;
  height: 4px;
  background-color: greenyellow;
  padding: 0px;
  position: absolute;
  top: 52px;
  left: 0px;
}
#line-through {
  text-decoration: line-through;
  background-color: beige;
}
